{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    

 <div class="flex items-center justify-center py-12 px-4 sm:px-2 lg:px-2">
    <form method="post" class="p-12 bg-white bg-opacity-60 rounded-md shadow-sm">
        
        <div class="mt-1 mb-2 flex flex-col" id="description">
            <h1 class="text-2xl font-bold">Registration</h1>
            <p class="text-sm">If you want to create Quizzes yourself, you need to sign up for Quizoo.</p>
            <p class="text-sm">The registration is free!</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="bg-red-300 mt-4 rounded-md p-2">
                <span>⚠️ Some errors occured during your registration</span>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>

        <div class="rounded-md space-y-4">
            <div>
                <label for="username" class="block">Username</label>
                <input name="username" class="rounded-md w-full" id="username" required>
            </div>
            <div>
                <label for="mail" class="block">Mail</label>
                <input type="email" name="mail" class="rounded-md w-full" id="mail" required>
            </div>
            <div>
                <label for="firstname" class="block">First Name</label>
                <input name="firstname" class="rounded-md w-full" id="firstname" required>
            </div>
            <div>
                <label for="password" class="block">Password</label>
                <input type="password" maxlength="72" class="rounded-md w-full" name="password" id="password" required>
            </div>
            <input type="submit" class="btn-blue" value="Register">
        </div>
        
    </form>
 </div>
{% endblock %}